footer{
  height: 50px;
  background-color: #630A1050;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #630A10;
}
footer > a{
  font: 500 1.5rem Bebas Neue;
  color: white;
  padding: 0;
  margin: 0;
  text-shadow: -3px -3px 2px black;
  text-decoration: none;
}
footer > a:hover {
  color: #630A10;
  text-shadow: 3px 3px 2px white;
}

