body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: pointer;
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;

}

@media (max-width: 1170px){
  .search-container{
    opacity: 0;
  }
}



